
.header_unverstet_offer{
    background-image: url("../../../public/images/unverstet_offer/offer_bg_1.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}


.header_unverstet_offer h1{
    font-size: 64px;
    margin-top:30px;
    padding-top: 20%;

}

.Dream{
    background-image: url("../../../public/images/unverstet_offer/offer_bg_2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.Dream h1{
    padding-top: 8%;
    margin-bottom: 2%;
}

.offer_card{
    /* margin: 0 auto ; */
    margin-top: 10%;
}

.Dream p{
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 8%;
}

.card{
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(79, 77, 77, 0.335);
    width: 70% !important;
    margin:20px;
}


.card:hover{
    /* background-color: aqua; */
    transform: scale(1.1);
    /* border: 2px solid green; */
    box-shadow: 0 0 10px rgb(60, 117, 60);
    transition: 0.5s;
}
.card_row{
    margin: 0 auto !important;
}