*{
    margin: 0;
    padding: 0;
}

.row{
    --bs-gutter-x: 0rem;
}


.Strategic{
   
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}



.Strategic h1{
    /* margin: 0 auto; */
    margin-left: 8%;
    width: 70%;
    margin-top: 10%;
    font-size: 34px;
    font-weight: 700;
    line-height: 50px;
}
.Strategic p{
    font-size: 17px;
    margin-top: 5%;
    width: 85%;
    font-weight: 500px;
    line-height: 30px;
    margin: 10% auto;
}

.card_img{
    border-radius: 20px;
    overflow: hidden;   
    padding-top: 5%;
    padding-bottom: 5%;
    margin: 5% auto;
    transition: 0.3s;
}

.card_img img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
}
.card_img:hover img{
    transition: 0.3s;
}

@media only screen and (max-width:1400px){
    .card_img{
        width: 60%;
    }

    .grown{
        width: 40%;
    }
  
}

@media only screen and (max-width:1200px){
    .card_img{
        width: 80% !important;
    }
    .grown{
        width: 80% !important   ;
    }
}

@media only screen and (max-width:995px){
    .card_img{
        width: 100% !important;
    }
    .grown{
        width: 100% !important   ;
    }
}


@media only screen and (max-width:770px){
    .card_img{
        width: 100% !important;
    }
    .grown{
        width: 100% !important   ;
    }
}

@media only screen and (max-width:377px){
    .card_img{
        width: 100%;
    }
   .grown h1{
        font-size: 25px;
    }

    .grown p{
        font-size: 15px;
    }

    .Strategic h1{
       font-size: 10px !important; 
    }
}