.Year{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.pencil{
    background-color: #007500b7;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  
}

.card_center{
    margin: 0 auto;
}

.pencil:hover{
    transform: scale(1.1);
    transition: 0.4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.627);
    
}

.pencil_card:hover  h1{
    color: green;
}
.pencil_img{
    /* margin: 15%; */
   
}



.pencil_card{
    margin: 0 auto;
    /* padding-top: 8%; */
    /* padding-bottom: 7%; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media only screen and (max-width:1200px){
    .pencil_card{
        width: 60% !important;
    }
}

@media only screen and (max-width:740px){
    .pencil_card{
        margin: 0 70%;
        width: 60% !important;
    }
}

@media only screen and (max-width:360px){
    .pencil{
        width: 150px ;
        height: 150px;
    }
}