.contact__header{
    width: 100%;
    height:100vh;
    /* background-image:url("./image\ 6.png"); */
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}
.contact_title{
   padding-top: 4%;
}
.contact__header__card{
    border-radius: 25px !important;
    transition: 0.2s;
}
.contact__header__card:hover{
    transform: scale(1.005);
    transition: 0.1s !important;
}

.contact__adress{
    color: black;
    padding: 0;
    margin: 0;
}



.contact__section__left{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.contact__section__card{
    width: 90%;
    height: 60%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}
.contact__page__left__setInfo{
position: absolute;
width: 100%;
height: 100%;
animation: set__info__card 2s 1;
background-color: #6bc61072;
}

.rasmcha{
    width: 100%;
    height: 100%;
    background-image: url("./Rectangle\ 43.png");
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}
.contact__section__card:hover .rasmcha{
    transform: scale(1.03);
    transition: 0.5s;
}
.contact__section__getInfo {
 margin-left: 50px;
}
.contact__section__getInfo input , .contact__section__getInfo textarea{
    width: 80%;
    padding: 10px 15px;
    border:none; 
    outline: none;
    margin-top: 15px;
    font-size: 18px;
}

.contact__section__getInfo input::placeholder{
    color: #747579;
    font-size: 15px;
}
.contact__section__getInfo textarea::placeholder{
    color: #747579;
    font-size: 15px;
}

.contact_card:hover{
    /* background-color: aqua; */
    transform: scale(1.03);
}
.contact__section__getInfo {
    margin-top: 55px;
}
.contact__section__getInfo input {
background: rgba(0, 117, 0, 0.15);
border-radius: 10px;
}
.contact__section__getInfo select {
    background: rgba(0, 117, 0, 0.15);
    border-radius: 10px;
    width: 75%;
    padding: 10px 15px;
    margin-top: 15px;
    color: #747579;
    }
.contact__section__getInfo textarea {
 background: rgba(0, 117, 0, 0.15);
border-radius: 10px;
}
.SendM {
    background: rgba(0, 117, 0, 0.75) !important;
border-radius: 15px !important;
color: #ffffff !important;
}
.col6_2talik .col-6{
  width: 45% !important;
}
.contact__section__getInfo p {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
color: #747579;
margin-bottom: -10px;
}


@media (min-width:1024px) {
    .contact__header{
        height: 100vh!important;
    }
}

