.doppi {
    animation: doppi 5s infinite; 
    width: 100px;
    background-color: white;
    border-radius: 50%;
    z-index: 100;
  }
  .color{
    width: 70px;
    height: 70px;
    background-color:rgb(43, 42, 40);
    z-index: 1000;
    border-radius: 50%;
  }
  .sword{
    width: 250px;
  }
  .max_animation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;   
    top: 50%;
    height: 100vh;
  }
  .min_animation{
    position: absolute;
    display: flex;
    justify-content: center;

  }
  @keyframes doppi {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
  }