.jobheader{
    width: 100%;
    background-image: url("../../../../public//images//Joboffer-img/joboffer.png");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}
.jobheader h1{
    font-size: 60px;
}
@media(max-width:600px){
    .jobheader h1{
        font-size: 80px;
        padding-left: 10px;
    }
}
.Why{
    background-image: url("../../../../public/images//Joboffer-img/why-img.png");
    width: 100%;
    height: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.job_text{
    width: 50%;
    margin:  0 auto;
    margin-top: 30px;
}
@media(max-width:700px){
    .job_text{
        width: 65%;
        margin:  0 auto;
        margin-top: 30px;
    }
}