.mainnavbar{
    width: 100%;
}
.minnavbar{
    border-radius: 10px;
}
.Main_navbar{
    background-color:#FFFF;
}
.topnavbar{
    background-color: transparent;
    padding: 1px;
}
.main_menu_tit{
    color: black;
    text-decoration: none;
}
.main_menu_tit:hover{
    color: blue!important;
}
.a_link{
    text-decoration: none;
    color: black;
    width: 100%;
}
.menuhover:hover{
    color: green!important;
}
@media(min-width:991px){
    .nav_link{
        margin: 0 8px;
    }
}
.main_menu_tit{
    padding-bottom: 50px;
}
.nav_navbar:hover{
 color: #006433!important;
}
.sellectlang{
    border-radius: 5px;
}
/* Dropdown */
.drop3{
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)!important;
    width: 160px;
    height: auto;
    border-radius: 5px;
    border: none;
    z-index: 1000;
    top: 0!important;
}
.dropicon{
    font-size: 16px;
}
.menunav:hover .drop3{
    display: block;
}
@media(max-width:350px){
    .main-logo{
        width: 180px;
    }
}
.top_contact{
    display: flex;
    justify-content:end;
    align-items: center;
    padding: 0px 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
}
.upper{
    z-index: 1000;
    color: black;
}
.top-nav-icon{
    width: 25px;
    margin: 0px 25px;
}
.nav-div_flex{
    display: flex;
    justify-content: space-around;
}
@media(max-width:1200px){
    .mobile_none{
        display: none;
    }
    .imgline{
        display: none;
    }
}
.drop_menu{
    color: black!important;
}
.imgline{
    width: 100%;
    height: 27px;
    font-weight: 600;
}
.select_flag{
    width: 25px;
    height: 16px;
    margin-top: 10px;
    box-shadow: 0px 0px  15px 2px rgb(231, 227, 227);
    margin-right: 5px;
}
@media(max-width:450px){
    .top-nav-icon{
        width: 23px;
        margin: 0 15px;
    }
    .top__nav__number{
        font-size: 13px;
    }
}
@media(max-width:390px){
    .top-nav-icon{
        width: 15px;
        margin: 0 0px;
    }
    .top__nav__number{
        font-size: 11px;
    }
    .sellectlang{
        width: 60px;
    }
}
.All_nav{
    position: relative;
    width: 100%;
    height: 130px;
}
.Enter_nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    z-index: 1000;
}
