.Header_img{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



.Header_img h1{
    font-size: 64px;

}

@media only screen and (max-width:595px){
    .Header_img h1{
        font-size: 50px;
        margin-top:30px;
    }
    .Header_img .h1{
        font-size: 50px;
    }
}

@media only screen and (max-width:930px){
    .Header_img .h1{
     padding-top: 25% !important;
         font-size: 100px !important;
     }
     .Header_img h1{
        font-size: 100px;
     }
 }
 .header__text{
    z-index: 100;
 }

@media only screen and (max-width:600px){
   .Header_img h1{
        font-size: 120px !important;
    }
}

@media only screen and (max-width:370px){
    .Header_img h1{
        font-size: 30px !important;
        margin-top:30px;
    }
    .Header_img .h1{
        padding-top: 20% !important;
        font-size: 30px !important;
    }
}