.Header_img{
    /* margin-top: 10%; */
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    width: 100%;
    /* border: 2px solid black */
}

.Header_img .h1{
    padding-top: 20% !important;
    font-size: 64px;
   
}

.Header_img h1{
    font-size: 64px;
    /* margin-top:30px; */

}



@media only screen and (max-width:930px){
    .Header_img .h1{
     padding-top: 30% !important;
         /* background-color: red; */
         font-size: 65px !important;
     }
     .Header_img h1{
        font-size: 65px;
     }
 }


 @media only screen and (max-width:600px){

    .Header_img .h1{
        padding-top: 60% !important;
            /* background-color: red; */
            font-size: 50px !important;
        }
   .Header_img h1{
        font-size: 50px !important;
    }
}



 



@media only screen and (max-width:450px){

    .Header_img .h1{
        padding-top: 90% !important;
            font-size: 40px !important;
        }
   .Header_img h1{
        /* background-color: red; */
        font-size: 40px !important;
    }
}

@media only screen and (max-width:370px){
    .Header_img h1{
        font-size: 35px !important;
     
    }
    .Header_img .h1{
        padding-top: 90% !important;
        font-size: 35px !important;
    }
}

@media only screen and (max-width:270px){
    .Header_img h1{
        font-size: 25px !important;
        margin-top:30px;
    }
    .Header_img .h1{
        padding-top: 80% !important;
        font-size: 25px !important;
    }
}

@media only screen and (max-width:186px){
    .Header_img h1{
        font-size: 22px !important;
      
    }
    .Header_img .h1{
        padding-top: 90% !important;
        font-size: 22px !important;
    }
}


@media only screen and (max-width:85px){
    .Header_img h1{
        font-size: 15px !important;
      
    }
    .Header_img .h1{
        padding-top: 100% !important;
        font-size: 15px !important;
    }
}

@media only screen and (max-width:55px){
    .Header_img h1{
        font-size: 12px !important;
      
    }
    .Header_img .h1{
        padding-top: 130% !important;
        font-size: 12px !important;
    }
}